@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
  --primary: salmon;
  --textHover: #FFF;
  --text: #FFF;
}


* {
  margin: 0;
  padding: 0
}

/* navbar */

nav {
  display: flex;
  background: rgba(0,0,0,0.01);
  justify-content: space-around;
  padding: 20px 0px;
  color: var(--text);
  width: 80%;
  z-index: 10;
}

nav div:nth-child(1) {
  width: 50%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul{
  display: flex;
  list-style: none;
  width: 20vw;
  justify-content: space-between;
}

nav ul li a {
  color: var(--text);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: bolder;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: var(--textHover);
  font-size: 1.5em;
}
